#board-container {
  display: flex;
  justify-content: center;
  align-items: center;

  flex-grow: 1;
}

#board {
  width: 350px;
  height: 420px;
  padding: 10px;

  display: grid;
  grid-template-rows: repeat(6, 1fr);
  grid-gap: 5px;
}
