header {
  display: flex;
  align-items: center;

  justify-content: center;

  height: var(--header-height);
  border-bottom: 1px solid var(--color-tone-4);
}

.title {
  font-weight: 800;
  font-size: 32px;
}

#header-modal-button {
  position: absolute;
  left: 1.2rem;
  font-size: 24px;
  font-weight: 700;
  background-color: transparent;
  border: none;

  cursor: pointer;
}
